GOOGLE_CLIENT_EMAIL='user@stuffstuff.gserviceaccount.com'
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIICWwIBAAKBgHPBaRXBe9r/D8Y7/WIGtW5BW188801zubFVRz61agxPxXRFpwQy\nOplMAaPcczwkP9tyCTTQfyf8RgU9adG0R3TVae/fPFC1OXqQm5aez1BJ29zxmH9d\nCd/nKabhxvBwMPPAIiRuZNuZK4uu7xpfuD/cdQjs4X9MFp+EC5XbG36jAgMBAAEC\ngYBb1x9mCH4ZMfc1A9G0nbgDQ02YkYZEdEXnYc7F/S+nlv8FkmHB3YxKplhCxxyS\nofwcQyz0v1uzwN9ZNvGnVQ6/nIGHAFB6hvHe6XqE8feW0SSAdQZ1oS9rhA6Jov+t\nTjqyNRBgtZzvLUOBPAFW91xOvyJZRX5oBuIJggtyhFv6EQJBALvpZ/k5R5LC8RGu\n3pKZCGiaz8aqPPoKCehDb07VyHOhhCSNxcYBXiZ1irCL1exkwJhdiIBJ7tw1dPbS\n2Of848sCQQCdstSQ2uQxS4/Q0BUkIcu1ibtoY7FqSSLqe1okqD1egrO2uV6zvmBV\n1QOAifXQ6HZ1+Y5HgEOpJJHtU2uA4+WJAkAxX87WCVrpERfOkagh1NwEwEi/5pNH\nD8QypyVkDYAyAcp64FWLBWj7qf7bDKMVDhQc9Nac/tAoRFOLVzNvIV+pAkEAibx9\nTrvw3WFrDm4AWRuvijLvXgDdH8EbXwQ4OpY7a8Xq46jKn2GjULSJp4ZYDoxLk0VR\n0P+lmSFY15mp5tymSQJAXbT0rPvu28FS/PjTql3L+xuPIN4gCr+NU2OI9BYME2Xn\nIne/OfPUeS0h9HSHRY3fUwixnf+aXWbXP3AthU6srQ==\n-----END RSA PRIVATE KEY-----\n"
GOOGLE_BOT_BOOK_ID="1gSVUrUSC8g63dsjhkcvbvcbfdssrtjusfgjhsfdghsdfghe5hPrsc"
DISCORD_BOT_TOKEN='s3w94ureh90w4ubhnvouhds.dafug9ha9487uhg'
DISCORD_CLIENT_ID="11111111111111111111111"
DISCORD_GALNET_CHANNEL_ID='9999999999515746916'
DISCORD_ELITEDEV_CHANNEL_ID='1000515199999999999'
DISCORD_TWITTERDEV_CHANNEL_ID='10145299999999999'
TWITTER_TOKEN='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
LOG_LEVEL="DEBUG"
MONGODB_URL="mongodb://127.0.0.1:27017/psibot"
